## Restore 3 for $50

<font size="5">Exported Files at the bottom</font>

In [1]:
## Let's import necessary libraries and datasets
import pandas as pd

df_3_for_50 = pd.read_csv('restore_3_for_50_data.csv')
df_core = pd.read_csv('balance_core_services.csv')
df_medical = pd.read_csv('balance_medical_services.csv')
df_skin = pd.read_csv('balance_skin_services.csv')

<font size="5">We are tasked with getting all the people who purchased a 3 for $50 deal in the past month</font>

<font size="5">We were given all of the transactions in the last month</font>

In [2]:
## Check what the data set looks like by getting the first 5 rows
df_3_for_50.head(5)

,Studio Code,Purchase Date,Invoice ID,Client ID,First Name,Last Name,Email,Phone #,Therapy Category,Business Category,Item,Sales Rep,Autopay Status,Quantity,Tax Amount,Discount,Credit Used,Unnamed: 17
0,FL005,11/27/2023,31453168,443950,Cristina,Chavarria,cchavarria1224@gmail.com,3053038233,Memberships,Membership,Discover Membership,NaN,Success,1,$0.00,$0.00,0,$119.00
1,FL005,11/27/2023,31453169,671156,Teresa,Seda,teresa.seda@walgreens.com,7876616297,Memberships,Membership,Discover Membership,NaN,Success,1,$0.00,$0.00,0,$119.00
2,FL005,11/27/2023,31453170,280027,Melanie,Hunter,melanieannhunter@gmail.com,7735319169,Memberships,Membership,Wellness Membership - Couples,NaN,Success,1,$0.00,$0.00,0,$169.00
3,FL005,11/27/2023,31453171,754675,Jessica,Rummel,jessicarummel@hotmail.com,3054585484,Memberships,Membership,Discover Membership,NaN,Success,1,$0.00,$0.00,0,$119.00
4,FL005,11/27/2023,31453172,27512,Humberto,Gil,humbertogil64@hotmail.com,7868993347,Memberships,Membership,Discover Membership,NaN,Success,1,$0.00,$0.00,0,$119.00

<font size="5">Cleaning the data</font>

In [3]:
## I immediately see some columns that meant nothing to me so let's get rid of them
## We'll also give it a new name
df_3_for_50 = df_3_for_50.drop(columns=['Studio Code', 'Purchase Date', 'Invoice ID', 'Client ID', 'Therapy Category', 'Business Category', 'Sales Rep', 'Autopay Status', 'Tax Amount', 'Discount', 'Quantity', 'Credit Used'])

In [4]:
## I also don't know why the name of the last column is that so let's change it
df_3_for_50 = df_3_for_50.rename(columns={"Unnamed: 17": "Total"})

In [5]:
## Let's grab the all the 3 Pack of Core Service
df_3_for_50.loc[(df_3_for_50['Item'] == 'Core Service | 3 Pack')]

,First Name,Last Name,Email,Phone #,Item,Total
36,Nikki,Perez,misslashawn1@yahoo.com,7866005444,Core Service | 3 Pack,$50.00
52,Luis,Peraza,goldenfence305@gmail.com,3055251616,Core Service | 3 Pack,$50.00
116,Bella,Rozay,rosemomey2021@icloud.com,7866659820,Core Service | 3 Pack,$50.00
156,Olivia,Cajigas,olivia@oec-consulting.com,3059650425,Core Service | 3 Pack,$50.00
281,Alexis,Ferro,alexisferro1128@gmail.com,3057330441,Core Service | 3 Pack,$50.00
283,Jose,Ferrro,jmf1128@gmail.com,3052826372,Core Service | 3 Pack,$50.00
298,Claudette,Casal,claudettecasal@att.net,3056063685,Core Service | 3 Pack,$50.00
330,Christina,Xiques,cxgravier@aol.com,3052990750,Core Service | 3 Pack,$50.00
361,Christian,Hollant,christianhollant@yahoo.com,3057834767,Core Service | 3 Pack,$50.00
383,Jennifer,Kanold,jenkanold@mac.com,7866507701,Core Service | 3 Pack,$50.00
460,Aileen,Permuy,aspermuy@hotmail.com,7863516816,Core Service | 3 Pack,$50.00
468,David,Bratt,daveinthesouth@gmail.com,7866266537,Core Service | 3 Pack,$50.00
477,Rigoberto,Valverde,rigoberto_valverde@yahoo.com,7869260546,Core Service | 3 Pack,$50.00
540,Abigail,Pereira,lala031782@yahoo.com,3054841851,Core Service | 3 Pack,$50.00
636,Natalie,Llopis,natllo202@gmail.com,3059019723,Core Service | 3 Pack,$50.00
650,Farris,Abusad,farrisabusad1@gmail.com,7863879295,Core Service | 3 Pack,$50.00
690,Marianna,Dubinsky,nouvellehomemiami@gmail.com,7866064445,Core Service | 3 Pack,$50.00
700,Alice,Mendes,alicemendesfit@gmail.com,2039217993,Core Service | 3 Pack,$50.00
712,Randi,Rosenberg,dandi1978@aol.com,3055276529,Core Service | 3 Pack,$50.00
773,Rene,Ramirez,kingsluggers@gmail.com,7863467162,Core Service | 3 Pack,$50.00
801,Iraida,Garcia,advancedliens@bellsouth.net,3052447536,Core Service | 3 Pack,$50.00
850,Brigitte,Valdera,cestrada0225@gmail.com,3057538703,Core Service | 3 Pack,$50.00
854,Hannah,Hartley,hlhartley1@gmail.com,3052979110,Core Service | 3 Pack,$50.00
863,Traci,Cole,leidback@comcast.net,3037968838,Core Service | 3 Pack,$50.00
876,Alain,Piloto-Rios,aprios79@yahoo.es,5024359577,Core Service | 3 Pack,$50.00
943,Charlotte,De Paula,turleyjewelers@yahoo.com,3058019051,Core Service | 3 Pack,$50.00
955,Andres,Rodriguez,iortiz@universalelite.com,7862710654,Core Service | 3 Pack,$50.00
1014,Ryan,Rangel,ryanrangel0622@gmail.com,7865475579,Core Service | 3 Pack,$50.00
1053,Ines,Mamder,neshinava@bellsouth.new,3058981552,Core Service | 3 Pack,$50.00
1072,Struan,Mckenize,jennyjmarkham@gmail.com,3059033358,Core Service | 3 Pack,$50.00
1219,Marchetti,Anthoney,suem-21401@yahoo.com,4108049688,Core Service | 3 Pack,$50.00
1285,Victor,Calvo,victorcalvomd@gmail.com,3059922129,Core Service | 3 Pack,$50.00
1288,Zyad,Wright,zyadwright@gmail.com,7868518598,Core Service | 3 Pack,$50.00
1314,Christian,Bridges,christianbridges@yahoo.com,7862986914,Core Service | 3 Pack,$50.00
1316,Jennifer,Linares,linares_jennifer@hotmail.com,3053890464,Core Service | 3 Pack,$117.60
1338,Iraida,Garcia,advancedliens@bellsouth.net,3052447536,Core Service | 3 Pack,$50.00
1362,Stephanie,Parra,sparr007@fiu.edu,7869161161,Core Service | 3 Pack,$50.00
1476,Jaclyn,Buckreis,jaclyn.buckreis@gmail.com,7039407718,Core Service | 3 Pack,$50.00
1516,Gina,Fiallo,cyfi45@gmail.com,3057903863,Core Service | 3 Pack,$50.00
1524,Santiago,Burgos,santiago23burgos@hotmail.com,7863283157,Core Service | 3 Pack,$50.00
1525,Monica,Zabian,monasoccer18@hotmail.com,7866606710,Core Service | 3 Pack,$50.00
1541,Levar,Walker,lwfamily2457@gmail.com,7865212539,Core Service | 3 Pack,$100.00
1569,Melanie,Kayser,maohara@comcast.net,2022509865,Core Service | 3 Pack,$50.00
1574,Yanisset,Urra,yanisset@yahoo.com,7868180630,Core Service | 3 Pack,$50.00
1582,Yanisset,Urra,yanisset@yahoo.com,7868180630,Core Service | 3 Pack,$100.00
1670,Belkis,Kern,belkiskern.realtor@gmail.com,7863682973,Core Service | 3 Pack,$50.00
1763,Davis,Marchus,davismarchus@outlook.com,3057102128,Core Service | 3 Pack,$50.00

In [6]:
## As you can see, some of the purchases aren't $50. Let's filter that and alter the original dataset by setting it to a new variable (with the same name)
df_3_for_50 = df_3_for_50.loc[(df_3_for_50['Item'] == 'Core Service | 3 Pack') & (df_3_for_50['Total'] == '$50.00')]

## Making the data Actionable

In [7]:
## Since they will be sending texts, lets get a list of names and numbers
## First, we'll give them some new indexes
## We'll also alter the original dataset by setting it to a new variable (again, with the same name)
df_3_for_50 = df_3_for_50.reset_index()

## Printing
df_3_for_50.head(10)

,index,First Name,Last Name,Email,Phone #,Item,Total
0,36,Nikki,Perez,misslashawn1@yahoo.com,7866005444,Core Service | 3 Pack,$50.00
1,52,Luis,Peraza,goldenfence305@gmail.com,3055251616,Core Service | 3 Pack,$50.00
2,116,Bella,Rozay,rosemomey2021@icloud.com,7866659820,Core Service | 3 Pack,$50.00
3,156,Olivia,Cajigas,olivia@oec-consulting.com,3059650425,Core Service | 3 Pack,$50.00
4,281,Alexis,Ferro,alexisferro1128@gmail.com,3057330441,Core Service | 3 Pack,$50.00
5,283,Jose,Ferrro,jmf1128@gmail.com,3052826372,Core Service | 3 Pack,$50.00
6,298,Claudette,Casal,claudettecasal@att.net,3056063685,Core Service | 3 Pack,$50.00
7,330,Christina,Xiques,cxgravier@aol.com,3052990750,Core Service | 3 Pack,$50.00
8,361,Christian,Hollant,christianhollant@yahoo.com,3057834767,Core Service | 3 Pack,$50.00
9,383,Jennifer,Kanold,jenkanold@mac.com,7866507701,Core Service | 3 Pack,$50.00

In [8]:
## Now we can get rid of the new index column as it is not needed
df_3_for_50 = df_3_for_50.drop(columns=['index'])

## Printing
df_3_for_50.head(10)

,First Name,Last Name,Email,Phone #,Item,Total
0,Nikki,Perez,misslashawn1@yahoo.com,7866005444,Core Service | 3 Pack,$50.00
1,Luis,Peraza,goldenfence305@gmail.com,3055251616,Core Service | 3 Pack,$50.00
2,Bella,Rozay,rosemomey2021@icloud.com,7866659820,Core Service | 3 Pack,$50.00
3,Olivia,Cajigas,olivia@oec-consulting.com,3059650425,Core Service | 3 Pack,$50.00
4,Alexis,Ferro,alexisferro1128@gmail.com,3057330441,Core Service | 3 Pack,$50.00
5,Jose,Ferrro,jmf1128@gmail.com,3052826372,Core Service | 3 Pack,$50.00
6,Claudette,Casal,claudettecasal@att.net,3056063685,Core Service | 3 Pack,$50.00
7,Christina,Xiques,cxgravier@aol.com,3052990750,Core Service | 3 Pack,$50.00
8,Christian,Hollant,christianhollant@yahoo.com,3057834767,Core Service | 3 Pack,$50.00
9,Jennifer,Kanold,jenkanold@mac.com,7866507701,Core Service | 3 Pack,$50.00

In [9]:
## Knowing that texts will be sent, let's get some first names and phone numbers and put it in a list
## The names of the columns must together for this to work so let's do that first
df_3_for_50 = df_3_for_50.rename(columns={"First Name": "first_name"})
df_3_for_50 = df_3_for_50.rename(columns={"Phone #": "number"})
df_3_for_50 = df_3_for_50.rename(columns={"Last Name": "last_name"})

<font size="5">Making the list</font>

In [10]:
## Next, let's make a list
text_list = []

## Then we'll write what we want in the list
for index, rows in df_3_for_50.iterrows():
    my_list = [rows.first_name, rows.last_name, rows.number]
    text_list.append(my_list)

## Finally, we'll print out the list
print(text_list)

[['Nikki', 'Perez', '7866005444'], ['Luis', 'Peraza', '3055251616'], ['Bella', 'Rozay', '7866659820'], ['Olivia', 'Cajigas', '3059650425'], ['Alexis', 'Ferro', '3057330441'], ['Jose', 'Ferrro', '3052826372'], ['Claudette', 'Casal', '3056063685'], ['Christina', 'Xiques', '3052990750'], ['Christian', 'Hollant', '3057834767'], ['Jennifer', 'Kanold', '7866507701'], ['Aileen', 'Permuy', '7863516816'], ['David', 'Bratt', '7866266537'], ['Rigoberto', 'Valverde', '7869260546'], ['Abigail', 'Pereira', '3054841851'], ['Natalie', 'Llopis', '3059019723'], ['Farris', 'Abusad', '7863879295'], ['Marianna', 'Dubinsky', '7866064445'], ['Alice', 'Mendes', '2039217993'], ['Randi', 'Rosenberg', '3055276529'], ['Rene', 'Ramirez', '7863467162'], ['Iraida', 'Garcia', '3052447536'], ['Brigitte', 'Valdera', '3057538703'], ['Hannah', 'Hartley', '3052979110'], ['Traci', 'Cole', '3037968838'], ['Alain', 'Piloto-Rios', '5024359577'], ['Charlotte', 'De Paula', '3058019051'], ['Andres', 'Rodriguez', '7862710654'], ['Ryan', 'Rangel', '7865475579'], ['Ines', 'Mamder', '3058981552'], ['Struan', 'Mckenize', '3059033358'], ['Marchetti', 'Anthoney', '4108049688'], ['Victor', 'Calvo', '3059922129'], ['Zyad', 'Wright', '7868518598'], ['Christian', 'Bridges', '7862986914'], ['Iraida', 'Garcia', '3052447536'], ['Stephanie', 'Parra', '7869161161'], ['Jaclyn', 'Buckreis', '7039407718'], ['Gina', 'Fiallo', '3057903863'], ['Santiago', 'Burgos', '7863283157'], ['Monica', 'Zabian', '7866606710'], ['Melanie', 'Kayser', '2022509865'], ['Yanisset', 'Urra', '7868180630'], ['Belkis', 'Kern', '7863682973'], ['Davis', 'Marchus', '3057102128']]

In [11]:
## The last thing we have to do is create a data frame with all the names and numbers that corospond with this 3 for $50 deal
final_text_list = pd.DataFrame(text_list, columns=['first_name', 'last_name', 'phone_number'])

## Printing
final_text_list.head(10)

  first_name last_name phone_number
0      Nikki     Perez   7866005444
1       Luis    Peraza   3055251616
2      Bella     Rozay   7866659820
3     Olivia   Cajigas   3059650425
4     Alexis     Ferro   3057330441
5       Jose    Ferrro   3052826372
6  Claudette     Casal   3056063685
7  Christina    Xiques   3052990750
8  Christian   Hollant   3057834767
9   Jennifer    Kanold   7866507701

<font size="5">Exporting the data</font>

In [25]:
## Now we can save this to an excel sheet so it is easily accessable to the team
final_text_list.to_excel("3_for_50_list.xlsx")