In [58]:
## Load Libs
import pandas as pd
import matplotlib.pyplot as plt

In [48]:
## Read CSV
df = pd.read_csv('trend_analysis_pinecrest.csv')
df

             Month  Total Revenue  Membership     Core   Medical  Skin Health
0     January 2023      146547.52    59503.10  7022.60  60590.82     19431.00
1    February 2023      123527.00    61921.10  3965.00  46062.70     11452.50
2       March 2023      144521.71    62918.45  5542.00  55003.26     21058.00
3       April 2023      130821.25    61934.10  6404.70  44323.70     13784.75
4         May 2023      140632.94    60906.40  9352.00  49512.54     20562.00
5        June 2023      105919.30    51621.00  4713.30  35496.60     14313.90
6        July 2023       89937.24    34281.00  4448.84  34281.00      4906.00
7      August 2023      110283.00    49190.10  4546.00  36155.48     20689.00
8   September 2023       87985.00    50760.00  4763.46  27626.50      6513.00
9     October 2023      125377.00    52433.76  3850.30  54316.30     18398.45
10   November 2023       93854.86    50025.60  4895.00  29536.80     10978.20
11   December 2023      105112.00    49106.40  7325.00  43352.60      6112.60
12    January 2024      106385.90    53198.05  3815.00  43893.40      7737.45
13   February 2024       92413.07    54306.48  3862.00  28092.50      9880.60
14      March 2024      107832.00    50415.98  3922.80  35372.72     19376.95
15      April 2024       99640.13    51997.58  3792.55  36535.50      8013.50

In [49]:
df['Total Revenue'].pct_change()

0          NaN
1    -0.157086
2     0.169960
3    -0.094799
4     0.075001
5    -0.246839
6    -0.150889
7     0.226222
8    -0.202189
9     0.424982
10   -0.251419
11    0.119942
12    0.012119
13   -0.131341
14    0.166848
15   -0.075969
Name: Total Revenue, dtype: float64

In [53]:
## Getting the pct_change of the last 6 values (Last 6 months)
pct = df['Total Revenue'].iloc[-6:].pct_change()
pct

10         NaN
11    0.119942
12    0.012119
13   -0.131341
14    0.166848
15   -0.075969
Name: Total Revenue, dtype: float64

In [54]:
(pct.sort_values(ascending=False).head(3).mean() + 1) *

109837.18826403959

In [59]:
months = []
for x in df.iterrows():
    add = x['Months']
    months.append(add)
total_revenue = df['Total Revenue']

plt.figure(figsize=(12,6))

plt.xlabel('Week', fontdict={'fontname' : 'Century Gothic', 'fontsize': 25})
plt.ylabel('High Intensity Distance (m)', fontdict={'fontname' : 'Century Gothic', 'fontsize': 25})
plt.title('Average Team High Intensity Distance per Week', fontdict={'fontname' : 'Century Gothic', 'fontsize': 30})

plt.bar(months, total_revenue, label='Team', color='#F47321', edgecolor='black')

plt.xticks(rotation=45)

plt.show()

TypeError: tuple indices must be integers or slices, not str